body{
    background: url(images/table.png);
    background-size: cover;
    font-family: 'Trebuchet MS', sans-serif;
    color: white;
    text-align: center;   
    font-weight: bold;
}
h1 {
    color: goldenrod;
}

#message-el {
    font-style: italic;
}

.btns {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.start-btn, .newcard-btn {
    width: 250px;
    font-size: 20px;
    margin: 10px;
    border-radius: 4px;
    padding: 10px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    background: goldenrod;
    color: #016f32;
}