body{
    margin: 0;
    color: #82a5ca;
    text-align: center;
    font-family: 'Orbitron', sans-serif;
}

.hero {
    background-size: cover;
    background-image: url("galaxy.webp"); 
    padding: 10px 0px 40px 0px;
}

#main-logo{
    width: 150px;
}

h1{
    text-shadow: 0 0 4px black;
}
.btn{
    padding: 6px 12px;
    background-color: white;
    border: none;
    font-family: inherit;
    color: inherit;
    font-weight: 800;
}

.underline{
    border-bottom: 4px solid white;
}

