body {
    font-family: "Quattrocento";
    margin: 0;
    text-align: center;
    background: linear-gradient(#a0d2eb, #8458B3);
    text-shadow: 0 0 1px black;
}

.overview {
    text-align: center;
    padding: 10px;
    background-image: url(images/Bara_imambara.webp);
    background-size:auto;
    background-position: center;
    height: 350px;
    color: #0049B7;
}

.title, .description {
    background-color: #fff685;
    display: inline-block;
    padding: 10px;
    border-radius: 6px;
}

.activities{
    background-color: #d0bdf4;
    margin: 20px;
    padding: 10px;
}
.activity {
    display: flex;
    padding: 10px;
    margin: 20px;
}
.activity_one, .activity_two, .activity_three {
    flex: 1;
    margin: 10px;
    background-color: #fff685;
    border-radius: 6px;
    padding: 10px;
    
}
.activity img {
    width: 300px;
    height: 200px;
    border-radius: 10px;
    margin: 10px;
}

.profile-picture {
  width: 150px;
  border-radius: 50%;
}

.card {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    background-color: #a0d2eb;
    border-radius: 10px;
    margin-bottom: 20px;
    border: solid 6px #dad7cd;
    border-bottom: 6px solid #344e41;
    color: #2b2839;
    border-radius: 20px;
}

.info {
    text-align: left;
    margin-left: 20px;
}

