body {
    font-family: 'Happy Monkey', cursive;
    margin: 0;
    padding: 0;
    background-color: #a2d2ff;
    text-align: center;
    color: #ffffff;
    text-shadow: 0 0 2px #000000;

}

.wish {
    padding: 5px;    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.picture {
    border: 5px solid #efb0c9;
    width: 150px;
    height: auto;
    border-radius: 50%;
}

.age, .dob {
    margin: 10px 7px 0;
    background-color: #efb0c9;
    padding: 5px 10px;
    border-radius: 5px;
}

.gift-section {
    margin-top: 50px;
}

.gift-title {
    margin-bottom: 10px;
}

.gift-hint {
    margin-top: 0;
}

#gift-img-cheers {
    height: 200px;
}

.gift-img {
    margin: 20px auto;
    max-width: 400px;
    height: 400px;
    border: 6px solid white;
    border-radius: 10px;
    background-image: url("images/gift-cover.jpg");
    background-size: cover;
}

#gift-img-happy:hover {
    background-image: url("images/happy.gif");
}

#gift-img-hot:hover {
    background-image: url("images/hot.gif");
}

#gift-img-genius:hover {
    background-image: url("images/genius.gif");
}

#gift-img-badass:hover {
    background-image: url("images/badass.gif");
}

#gift-img-cheers:hover {
    background-image: url("images/cheers.gif");
}