body {
  margin: 20px;
}

.profile-picture {
  width: 150px;
  border-radius: 50%;
}

.card {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    border: solid 6px #dad7cd;
    border-bottom: 6px solid #344e41;
    color: #2b2839;
    background-color: #588157;
    border-radius: 20px;
}
